<%- include("./partials/header") -%>
<body>
    <%- include("./partials/navbar") -%>
    <div class="container mx-auto my-10">
        <div class="max-w-7xl mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6">
            <div class="p-5">
                <% blog.fields.forEach(field => { %>
                    <% if (field.key === 'title') { %>
                        <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white mb-4"><%= field.value %></h1>
                    <% } else if (field.key === 'description') { %>
                        <p class="text-gray-700 dark:text-gray-300 mb-6"><%= field.value %></p>
                    <% } else if (field.key === 'coverImageURL' && field.value) { %>
                        <img class="w-full h-64 object-cover rounded-t-lg" src="<%= field.value %>" alt="Cover Image" />
                    <% } else if (field.key === 'CopyFileidFortextORCode') { %>
                        <div class="relative mb-6">
                            <pre id="copy-field" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"><%= field.value %></pre>
                            <button id="copy-button" onclick="copyToClipboard('copy-field', 'copy-button')" class="absolute top-2 right-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Copy</button>
                        </div>
                    <% } %>
                <% }) %>
                <div class="flex items-center">
                    <img class="w-8 h-8 object-cover rounded-full" src="<%= blog.createdBy.profileImageUrl %>" alt="Profile Image" />
                    <p class="text-sm text-gray-500 dark:text-gray-400">Written by: <%= blog.createdBy.firstName %> <%= blog.createdBy.lastName %></p>
                </div>
                <p class="text-sm text-gray-500 dark:text-gray-400">Posted on: <%= blog.createdAt.toDateString() %></p>
            </div>
            <form action="/blog/comment/<%= blog._id %>" class="grid grid-cols-10" method="POST">
                <input name="comment" type="text" id="comment" class="col-span-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="comment" required />
                <button type="submit" class="col-span-2 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-l-none rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>
            <div class="">
                <h1>Comments (<%= comments.length %>)</h1>
                <% comments.forEach(comment => { %>
                <div class="p-5">
                    <div class="flex items-center">
                        <img class="w-6 h-6 object-cover rounded-full" src="<%= comment.createdBy.profileImageUrl %>" alt="Profile Image" />
                        <p class="text-sm text-gray-500 dark:text-gray-400"><%= comment.createdBy.email %></p>
                    </div>
                    <h1 class=""><%= comment.comment %></h1>
                </div>
                <hr class="border-t-2 border-black-[0.5] mb-2">
                <% }) %>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") -%>
    
    <script>
        function copyToClipboard(fieldId, buttonId) {
            const copyText = document.getElementById(fieldId);
            const copyButton = document.getElementById(buttonId);
            
            const range = document.createRange();
            range.selectNode(copyText);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            try {
                document.execCommand('copy');
                const originalText = copyButton.innerText;
                copyButton.innerText = "Copied!";
                setTimeout(() => {
                    copyButton.innerText = originalText;
                }, 2000);
            } catch (err) {
                console.error('Failed to copy text: ', err);
            }
            window.getSelection().removeAllRanges();
        }
    </script>
</body>
</html>
