<%- include("./partials/header") %>
<body class="flex flex-col ">
    <%- include("./partials/navbar") %>
    <div class="container mx-auto my-10 shadow p-5 pb-32 lg:mx-auto md:mx-auto sm:mx-auto">
            <div class="p-5">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white mb-4"><%= blog.title %></h1>
                <div id="editor-container" class="quill-content"></div>
                <div class="flex flex-col items-end -mt-10">
                    <div class="flex items-center">
                        <img class="w-8 h-8 object-cover rounded-full" src="<%= blog.createdBy.profileImageUrl %>" alt="Profile Image" />
                        <p class="text-sm text-gray-500 dark:text-gray-400">Written by: <%= blog.createdBy.firstName %> <%= blog.createdBy.lastName %></p>
                    </div>
                    <p class="text-sm text-gray-500 dark:text-gray-400 mt-2">Posted on: <%= new Date(blog.createdAt).toDateString() %></p>
                </div>
            </div>
    </div>
    <div class="container mx-auto  mb-8 shadow p-5">
            <form action="/blog/comment/<%= blog._id %>" class="grid grid-cols-10 mt-4" method="POST">
            <input name="comment" type="text" id="comment" class="col-span-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Add a comment" required />
            <button type="submit" class="col-span-2 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-l-none rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>
            <div class="mt-6">
                <h1 class="text-xl font-semibold">Comments (<%= comments.length %>)</h1>
                <% comments.forEach(comment => { %>
                <div class="p-5 mt-4 bg-gray-50 dark:bg-gray-700 rounded-lg shadow">
                    <div class="flex items-center">
                        <img class="w-6 h-6 object-cover rounded-full" src="<%= comment.createdBy.profileImageUrl %>" alt="Profile Image" />
                        <p class="text-sm text-gray-500 dark:text-gray-400 ml-2"><%= comment.createdBy.email %></p>
                    </div>
                    <p class="mt-2 text-gray-900 dark:text-white"><%= comment.comment %></p>
                </div>
                <hr class="border-t-2 border-gray-300 dark:border-gray-600 my-4">
                <% }) %>
            </div>
    </div>
    
    
    <%- include("./partials/footer") %>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          var quill = new Quill('#editor-container', {
            // theme: 'snow',
            modules: {
              toolbar: false // Disable the toolbar
            },
            readOnly: true
          });
      
          var body = <%- JSON.stringify(blog.body) %>; // Pass body content from server to client
          quill.root.innerHTML = body;
        });
    </script>
    <style>
        /* Custom styles for the Quill editor content */
        .quill-content .ql-editor {
            padding: 0;
            height: auto;
            overflow: hidden;
        }
    </style>
</body>
</html>
