<%- include('./partials/header') %>
<body>
    <%- include('./partials/leftbar') %>
    <div class=" ml-[16.6%]">
        <div id="resultsContainer" class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4  m-10">
            <!-- Search results will be dynamically injected here -->
            <% blogs.forEach(blog => { %>
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-blog-id="<%= blog._id %>" data-cover-url="<%= blog.coverImageURL %>" data-title="<%= blog.title %>" data-created-by-id="<%= blog.createdBy._id %>" data-created-by-firstname="<%= blog.createdBy.firstName %>" data-created-by-lastname="<%= blog.createdBy.lastName %>" data-created-at="<%= new Date(blog.createdAt).toISOString() %>">
                    <a href="/blog/<%= blog._id %>">
                        <% if (blog.coverImageURL) { %>
                            <img class="rounded-t-lg w-full" src="<%= blog.coverImageURL %>" alt="Cover Image" />
                        <% } %>
                    </a>
                    <div class="p-5">
                        <a href="/blog/<%= blog._id %>">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= blog.title %></h5>
                        </a>
                        <a href="/blog/<%= blog._id %>" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                        <% if (user && user._id == blog.createdBy._id) { %>
                            <a href="/blog/edit/<%= blog._id %>" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-300 rounded-lg hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Edit
                            </a>
                        <% } %>
                        <p>Created by: <%= blog.createdBy.firstName %> <%= blog.createdBy.lastName %></p>
                        <p>Posted on: <%= new Date(blog.createdAt).toDateString() %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>