<!-- Sidebar -->
<div class="w-1/6 h-screen bg-gray-800 text-white fixed top-0 left-0 p-6 z-10">
    <% if (locals.user) { %>
        <div class="flex flex-col items-center mb-4 gap-3 ">
            <img class="w-12 h-12 object-cover rounded-full" src="<%= user.profileImageUrl %>" alt="User Profile Image" />
            <div class="flex flex-col items-center">
                <p class="text-lg font-semibold"><%= user.name %></p>
                <p class="text-sm text-gray-300"><%= user.email %></p>
            </div>
        </div>
        <hr class="border-t-2 border-gray-300">
    <% } %>
    <nav class="flex flex-col gap-4 ml-5 mt-5">
        <a href="/" class="text-white hover:text-gray-300 <%= (locals.title === 'Home') ? 'bg-green-500 p-2' : '' %>">Home</a>
        <a href="/blog/add-new" class="text-white hover:text-gray-300 <%= (locals.title === 'Add Blog') ? 'bg-green-500 p-2' : '' %> ">Add Blog</a>
        <a href="/blog/my-blogs" class="text-white hover:text-gray-300 <%= (locals.title === 'My Blogs') ? 'bg-green-500 p-2' : '' %>">My Blogs</a>
        <% if (locals.user) { %>
            <div class="relative">
                <button id="profile-menu-button" class="text-white hover:text-gray-300 flex items-center">
                    <span>Profile</span>
                    <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="profile-menu" class="mt-2 hidden">
                    <ul class="py-1">
                        <li><a href="/profile/analytics" class="block px-4 py-2 text-sm <%= (locals.title === 'Analytics') ? 'bg-green-500' : '' %> ">Analytics</a></li>
                        <li><a href="/profile/edit" class="block px-4 py-2 text-sm <%= (locals.title === 'Edit Profile') ? 'bg-green-500' : '' %>">Edit Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex gap-7 mt-5">
                <a href="/user/logout"> <button onclick="return confirm('Are you sure you want to log out?')" class="text-red-500 hover:text-red-400">Log out</button></a>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
            
                    // Profile menu toggle
                    document.getElementById('profile-menu-button').addEventListener('click', function() {
                        const menu = document.getElementById('profile-menu');
                        menu.classList.toggle('hidden');
                    });
                            // Close dropdown if clicking outside
                    document.addEventListener('click', function(event) {
                        const menu = document.getElementById('profile-menu');
                        const button = document.getElementById('profile-menu-button');
                        if (!button.contains(event.target) && !menu.contains(event.target)) {
                            menu.classList.add('hidden');
                        }
                    });
                });
            </script>
        <% } 
        else { %>
            <div class="flex gap-3  mt-5">
                <a href="/signup"> <button class=" text-green-500 hover:text-green-600">Sign Up</button> </a>
                <a href="/login"><button class=" text-green-500 hover:text-green-600">Login</button></a>
            </div>
        <% } %>
    </nav>
    
</div>
